{
  "semi": true,
  "singleQuote": true,
  "printWidth": 70,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "withNodeModules": true,
  "arrowParens": "always"
}
