.li{
    list-style: none;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 1.02rem;
    cursor: pointer;
   
}

.bgContenedor{
    background: #0000008a;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 100;
}

.bgWhite{
    background: #EEEEEEBA;
    width: 320px;
    position: fixed;
    top: 80px;
    right: 0;
    padding: 2rem;
}

@media (width < 768px){
    .bgContenedor{
        background: #0000008a;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        z-index: 100;
    }
    .bgWhite{
        background: #EEEEEEBA;
        width: 320px;
        position: fixed;
        right: 0;
        padding: 2rem;
    }
} 

@media (width <= 560px){
    .bgContenedor{
        background-color: var(--color-bg-mobile);
        /* position:relative; */
        /* top: 400px; */
        width: 100vw;
    }
    
    .bgWhite{
        width: auto;
        background: #097dca1a;
        /* background-color: var(--color-cards-desk); */
        /* position:relative; */
        width: 100%;
        /* top: -10px; */

    }
}
