.container-iniciarmain {
  display: flex;
  justify-content: center;
}

.container-iniciarsesion {
  display: inherit;
  flex-direction: column;
}

.title-iniciarsesion {
  font-family: var(--font-main);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text);
  margin-top: 65px;
  margin-inline: 15px;
}

.form-iniciarsesion {
  display: inherit;
  flex-direction: column;
  margin-top: 75px;
}

.label-iniciarsesion {
  display: none;
}

.input-iniciarsesion {
  display: block;
  border: 1px solid var(--color-primary);
  padding: 18px 8px;
  margin-bottom: 8px;
  width: 328px;
}

.input-iniciarsesion::placeholder {
  font-family: var(--font-title);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.text-iniciarsesion {
  font-family: var(--font-title);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  color: #646161;
  margin-top: 25px;
  margin-inline: 24px;
}

.btns-iniciarsesion {
  margin-top: 267px;
  margin-bottom: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 23px;
}

@media (width >= 576px) {
  .container-iniciarsesion {
    width: 578px;
    height: 511px;
    background-color: #eeeeee;
    border-radius: 50px;
    margin-bottom: 242px;
  }

  .title-iniciarsesion {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: var(--color-secondary);
    margin-bottom: 18px;
  }

  .form-iniciarsesion {
    margin-inline: 101px;
    margin-top: 0;
  }

  .label-iniciarsesion {
    display: block;
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-text);
    margin-bottom: 10px;
  }

  .input-iniciarsesion {
    width: 379px;
  }

  .text-iniciarsesion {
    margin-inline: 101px;
    margin-top: 12px;
  }

  .btns-iniciarsesion {
    margin-top: 81px;
    margin-bottom: 37px;
  }

  .ocultarbtn-iniciarsesion {
    display: none;
  }
}
